$breakpoint-tablet: 768px;
$breakpoint-phone: 350px;
$green: #04ca38;
$white: #ffffff;
$gray-border: #cecece;
$gray-wallpaper: #F4F4F4;
$gray-name: #595959;
$black: #000000;
$gray-border-header: #bdbdbd;
$shadow: 0px 4px 3px 0px rgba(0,0,0,0.47);
$height_body: 100vh;